.input__container {
  position: relative;
  background: rgba(255, 255, 255, 0.664);
  padding: 0.8em 0.95em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.95em;
  border-radius: 22px;
  width: 37.5em;
  transition: transform 400ms;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 31.25em;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(1.9em);
  border-radius: 20px;
  background-color: #999cff;
  background-image: radial-gradient(at 85% 51%, rgb(120, 215, 96) 0px, transparent 80%),
    radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, rgb(99, 193, 227) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
}

.input__button__shadow {
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 400ms, background 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
  padding: 0.2em;
  transition: 0.26s;
}

.input__button__shadow:hover {
  background: rgba(255, 255, 255, 0.411);
  transform: scale(1.1);
}

.input__search {
  width: 75em;
  border-radius: 1em;
  outline: none;
  border: none;
  padding: 2%;
  position: relative;
  transition: 0.3s;
}

.input__search:hover {
  padding: 2.8%;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-container-two {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-container-three {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-container-four {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.center-container-five {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .center-container {
    top: 40%; /* Adjust position */
  }

  .center-container-two {
    top: 55%; /* Adjust position */
  }

  .center-container-three,
  .center-container-four,
  .center-container-five {
    display: none; /* Hide additional containers on mobile */
  }

  .input__container {
    width: 80%; /* Adjust width */
  }

  .input__search {
    width: 100%; /* Adjust width */
    max-width: none; /* Remove max-width */
  }

  .input-one {
    max-width: 90%; /* Adjust width */
    width: 90%; /* Adjust width */
  }
}